{% load i18n %}
{% load fontawesome %}
{% load staticfiles %}

<div id="intro">
  <h1 class="text-center">
    <a href="{% url 'home' %}">
      <img id="logo" src="{% static 'images/logo.png' %}">
      <br>
      {% trans "Political memory" %}
    </a>
  </h1>
  <p class="lead text-center hidden-xs">{% trans "What is Memopol ?" %}</p>
  <p class="text-justify hidden-xs">
    {{ HOMEPAGE_INTRO_TEXT }}
  </p>
  {% if position_form %}
    <div class="container-fluid hidden-xs">
      <div class="row">
        <div class="col-sm-12 text-center">
          <a class="btn btn-primary hidden-print" data-toggle="modal" data-target="#add-position-form" aria-expanded="false" aria-controls="add-position-form">
            {% fontawesome_icon "bullhorn" %}
            {% trans "Add a public position" %}
          </a>
        </div>
      </div>
    </div>
  {% endif %}
</div>