{% extends "base.html" %}

{% load i18n %}
{% load fontawesome %}
{% load staticfiles %}
{% load memopol_tags %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>{% trans "Welcome to Memopol" %}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>{% trans "What is Memopol ?" %}</h2>
      <p>
        {{ HOMEPAGE_INTRO_TEXT }}
      </p>
      <img src="{% static "images/banniere_en.png" %}" alt=""/>
      <h2>{% trans "What about this instance ?" %}</h2>
      <p>
        {{ HOMEPAGE_INSTANCE_TEXT }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>{% trans "Latest votes" %}</h2>

      <table class="table table-responsive table-condensed">
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>{{ "for"|position_icon }}</th>
          <th>{{ "against"|position_icon }}</th>
          <th>{{ "abstain"|position_icon }}</th>
        </tr>
        {% for proposal in latest_votes %}
          <tr class="proposal-title {% if forloop.counter0|divisibleby:2 %}active{% endif %}">
            <td colspan="6">
              <a href="{% url 'dossier-detail' proposal.dossier.pk %}">
                {{ proposal.title }}
              </a>
            </td>
          </tr>
          <tr class="proposal-details {% if forloop.counter0|divisibleby:2 %}active{% endif %}">
            <td>
              {% for chamber in proposal.dossier.chambers %}
                {{ chamber | chamber_icon }}
              {% endfor %}
            </td>
            <td>
              {% include "blocks/_themetags.html" with themes=proposal|proposal_themes %}
            </td>
            <td>{{ proposal.status|proposal_status_label:proposal.recommendation }}</td>

            <td>{{ proposal.total_for }}</td>
            <td>{{ proposal.total_against }}</td>
            <td>{{ proposal.total_abstain }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <div class="col-md-4">
      <h2>{% trans "Featured themes" %}</h2>

      {% for theme in featured_themes %}
        {% include "memopol_themes/_theme_card.html" with theme=theme cols=12 %}
      {% empty %}
        {% trans "No currently featured theme :'(" %}
      {% endfor %}
    </div>

    <div class="col-md-4 todays-mep">
      <h2>{% trans "Today's Representative" %}</h2>

      {% if todays_mep %}
      {% include "representatives/_representative_card.html" with representative=todays_mep cols=12 %}
      {% else %}
      No MEP in database
      {% endif %}
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>{% trans "Chambers in this instance" %}</h2>
    </div>

    {% for chamber in chambers %}
      {% include "blocks/_chamber_card.html" with chamber=chamber %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>{% trans "More information" %}</h3>
      <div class="btn-group">
        <a class="btn btn-primary" target="_blank" href="http://www.memopol.org/">
          {% fontawesome_icon "bookmark" %}
          {% trans "Memopol blog" %}
        </a>
        <a class="btn btn-primary" target="_blank" href="http://memopol.rtfd.org/">
          {% fontawesome_icon "info-circle" %}
          {% trans "Documentation" %}
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <h3>{% trans "Contact us" %}</h3>
      <div class="btn-group">
        <a class="btn btn-primary" target="_blank" href="https://twitter.com/memopol2">
          {% fontawesome_icon "twitter" %}
          {% trans "Twitter" %}
        </a>
        <a class="btn btn-primary" target="_blank" href="https://webchat.freenode.net/?nick=memopol-user-...&channels=lqdn-memopol&prompt=1">
          {% fontawesome_icon "commenting" %}
          {% trans "IRC Channel" %}
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <h3>{% trans "Contributing" %}</h3>
      <div class="btn-group">
        <a class="btn btn-default" target="_blank" href="https://git.laquadrature.net/memopol/memopol">
          {% fontawesome_icon "git" %}
          {% trans "Code repository" %}
        </a>
        <a class="btn btn-default" target="_blank" href="https://git.laquadrature.net/memopol/memopol/issues/new">
          {% fontawesome_icon "bug" %}
          {% trans "Report an issue" %}
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <br><br>
        {% include "text/license.html" %}
        <br><br>
      </p>
    </div>
  </div>

{% endblock %}
